* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover {
    /* The image used */
    background-image: url("http://www.outsidetheboxtheatre.org/assets/img/goingaway-2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
  height: 100%;
  background-color: #333;
  margin-right: 0px;
}

.container-fluid {
padding: 0px;
}



.c1{
  background-color: #e1e7ef;
  box-shadow: 0 0 1px #333;

  /* The image used */
  background-image: url("http://www.outsidetheboxtheatre.org/assets/img/NewPlaysPromo.jpg");

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;


}
.c2{
  background-color:#333;
  box-shadow: 0 0 1px #333;
  height:100%;
}
.c3{
  background-color:#edf0f4;
  box-shadow: 0 0 1px #333;
  height: 100%;
}
.c4{
  background-color:#5d008c;
  box-shadow: 0 0 1px #333;
  height: 100%;
  color:white;
}

.fa{
  color:grey;
}


.pages{
  float: right;
}

.circle-border{
    border-color: white;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;

}

.spacer {
  min-height: 30%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 30vh; /* These two lines are counted as one :-)       */
}
.spacer-5 {
  min-height: 5%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 5vh; /* These two lines are counted as one :-)       */
}

.spacer-20 {
  min-height: 20%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 20vh; /* These two lines are counted as one :-)       */
}

h5{
  font-size: 15px;
  color: white;
}

h2{
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}
h1{
    padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:white;
}

.sub{
  background-color: red;
}
.sub2{
  background-color: blue;
}

.btn {
    padding: 20px 24px;
    border: 0 none;
    border-radius:0;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
label{
      padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}
